# Ignore
__pycache__
.venv
.vscode
AnalyseRepo.py
visual.ipynb
visual-checkpoint.ipynb
dataset.csv
dataset-checkpoint.csv
scratch.txt
Untitled.ipynb
.ipynb_checkpoints
_specify_dir.py
node_vecs.wordvectors