# Ignore
__pycache__
.venv
.vscode
AnalyseRepo.py
data_prep.py
visual.ipynb
visual-checkpoint.ipynb
dataset.csv
dataset-checkpoint.csv
scratch.txt
Untitled.ipynb
.ipynb_checkpoints
_specify_dir.py
ASTNodeTypesTFIDF.java
test.py
node_vecs.wordvectors
_specify_dir.py
processed_data.csv